HASURA_GRAPHQL_ADMIN_SECRET=
CONTAINER_PREFIX=axiomdata_
OPENAI_API_KEY=
EMULATOR_DELAY=10000
HASURA_JWT_SECRET_1=hasura-hs384-secret
HASURA_JWT_SECRET_2=hasura-hs384-secret
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_HASURA_API_URL=api.holotel.xyz/v1/graphql
NEXT_API_HASURA_API_URL=api.holotel.xyz/v1/graphql
HASURA_API_URL=api.holotel.xyz/v1/graphql
HASURA_API_ADMIN_SECRET=
WEBSITE_PORT_FORWARD=127.0.0.1:3002:3000
NEXTAUTH_SECRET=hasura-hs384-secret
NEXTAUTH_URL=https://www.holotel.xyz
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXT_PUBLIC_SECURE=true
SECURE=true
MONGO_PASSWORD=
POSTGRES_PASSWORD=
CLICKHOUSE_PASSWORD=
DATASET=telco
