HASURA_GRAPHQL_ADMIN_SECRET=
HASURA_GRAPHQL_ENDPOINT=https://api-sg.holotel.xyz
CONTAINER_PREFIX=emergent_
EMERGENT_HASURA_VERSION=v2.37.0
EMERGENT_HASURA_VERSION_PREVIOUS=v2.36.0
HASURA_GRAPHQL_EE_LICENSE_KEY=
OPENAI_API_KEY=
EMULATOR_DELAY=10000
HASURA_JWT_SECRET_1=hasura-hs384-secret
HASURA_JWT_SECRET_2=hasura-hs384-secret
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
HASURA_PORT_FORWARD=127.0.0.1:18080:8080
WEBSITE_PORT_FORWARD=127.0.0.1:3002:3000
NEXT_PUBLIC_HASURA_API_URL=api-sg.holotel.xyz/v1/graphql
NEXT_API_HASURA_API_URL=api-sg.holotel.xyz/v1/graphql
HASURA_API_URL=api-sg.holotel.xyz/v1/graphql
HASURA_API_ADMIN_SECRET=
NEXTAUTH_SECRET=hasura-hs384-secret
NEXTAUTH_URL=https://www-sg.holotel.xyz
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXT_PUBLIC_SECURE=true
SECURE=true
MONGO_PASSWORD=
POSTGRES_PASSWORD=
CLICKHOUSE_PASSWORD=
DATASET=telco
