# Global owners for the entire repo
<!-- * @dsandip @typhonius @robertjdominguez -->

# Demo-specific owners
demos/telco/ @praveenweb @shukla2112
demos/cpg/ @dlavigne-hasura
demos/supplychain/ @briantwalter
demos/diligence/ @yashv19
demos/infosec/ @sandalsoft
demos/gtm/ @julian-mayorga
demos/healthcare/ @rsunnyhasura @tirumaraiselvan
demos/aml/ @kenneth-stott

# Workflow files require admin approval
@dsandip @typhonius @robertjdominguez
