<clickhouse>
    <logger>
        <level>warning</level>
        <log>/dev/null</log>
    </logger>

    <profiles>
        <default>
            <log_queries>0</log_queries>
            <log_processors_profiles>0</log_processors_profiles>
            <log_profile_events>0</log_profile_events>
            <log_query_settings>0</log_query_settings>
            <log_query_views>0</log_query_views>
        </default>
    </profiles>
</clickhouse>
