[defaults]
inventory = ./inventory.json
roles_path = ./.ansible/roles:~/.ansible/roles:/etc/ansible/roles
collections_path = ./.ansible/collections:~/.ansible/collections

# Mitogen strategy for faster execution
strategy_plugins = ./.ansible/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
