CONTAINER_PREFIX: axiomdata
MONGO_PASSWORD: password123
POSTGRES_PASSWORD: password123
CLICKHOUSE_PASSWORD: password123
CACHING_PLUGIN_SECRET: password123
CACHING_PLUGIN_REDIS_URL: redis://local.hasura.dev:6379
RESTIFIED_PLUGIN_SECRET: password123
RESTIFIED_GRAPHQL_SERVER_URL: http://local.hasura.dev:3280/graphql
RESTIFIED_EXPORTER_OTLP_ENDPOINT: http://local.hasura.dev:4318/v1/traces
