CACHING_PLUGIN_PRE_PARSE_URL="http://local.hasura.dev:8787/pre-parse"
CACHING_PLUGIN_PRE_RESPONSE_URL="http://local.hasura.dev:8787/pre-response"
CACHING_PLUGIN_REDIS_URL="redis://local.hasura.dev:6379"
CACHING_PLUGIN_SECRET="zZkhKqFjqXR4g5MZCsJUZCnhCcoPyZ"
GLOBALS_GLOBAL_FUNCTIONS_AUTHORIZATION_HEADER="Bearer YQ=="
GLOBALS_GLOBAL_FUNCTIONS_HASURA_CONNECTOR_PORT=5756
GLOBALS_GLOBAL_FUNCTIONS_HASURA_SERVICE_TOKEN_SECRET="YQ=="
GLOBALS_GLOBAL_FUNCTIONS_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
GLOBALS_GLOBAL_FUNCTIONS_OTEL_SERVICE_NAME="globals_global_functions"
GLOBALS_GLOBAL_FUNCTIONS_READ_URL="http://local.hasura.dev:5756"
GLOBALS_GLOBAL_FUNCTIONS_WRITE_URL="http://local.hasura.dev:5756"
JWT_SECRET="KGOUts9A6hU2dWQQiQHdNN5VZBixs+BAh74RwDElxps"
PATIENT_OPS_OPERATIONS_AUTHORIZATION_HEADER="Bearer LmI9HLQ_4_1uBum5OwND0A=="
PATIENT_OPS_OPERATIONS_CONNECTION_URI="postgres://postgres:hbGciOiJIUzI1NiIsInR5cCI6IkpX@local.hasura.dev/ops"
PATIENT_OPS_OPERATIONS_HASURA_SERVICE_TOKEN_SECRET="LmI9HLQ_4_1uBum5OwND0A=="
PATIENT_OPS_OPERATIONS_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
PATIENT_OPS_OPERATIONS_OTEL_SERVICE_NAME="patient_ops_operations"
PATIENT_OPS_OPERATIONS_READ_URL="http://local.hasura.dev:5622"
PATIENT_OPS_OPERATIONS_WRITE_URL="http://local.hasura.dev:5622"
PATIENT_OPS_OPS_MGMT_AUTHORIZATION_HEADER="Bearer g71rBIAXA6DmMz7s_a9KOQ=="
PATIENT_OPS_OPS_MGMT_HASURA_CONNECTOR_PORT=7428
PATIENT_OPS_OPS_MGMT_HASURA_SERVICE_TOKEN_SECRET="g71rBIAXA6DmMz7s_a9KOQ=="
PATIENT_OPS_OPS_MGMT_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
PATIENT_OPS_OPS_MGMT_OTEL_SERVICE_NAME="patient_ops_ops_mgmt"
PATIENT_OPS_OPS_MGMT_READ_URL="http://local.hasura.dev:7428"
PATIENT_OPS_OPS_MGMT_WRITE_URL="http://local.hasura.dev:7428"
PATIENT_OPS_PATIENTS_AUTHORIZATION_HEADER="Bearer fKIMgAcGptTqCNymJvTuAw=="
PATIENT_OPS_PATIENTS_CONNECTION_URI="postgres://postgres:hbGciOiJIUzI1NiIsInR5cCI6IkpX@local.hasura.dev/patient"
PATIENT_OPS_PATIENTS_HASURA_SERVICE_TOKEN_SECRET="fKIMgAcGptTqCNymJvTuAw=="
PATIENT_OPS_PATIENTS_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
PATIENT_OPS_PATIENTS_OTEL_SERVICE_NAME="patient_ops_patients"
PATIENT_OPS_PATIENTS_READ_URL="http://local.hasura.dev:6650"
PATIENT_OPS_PATIENTS_WRITE_URL="http://local.hasura.dev:6650"
REFERENCE_REFERENCE_AUTHORIZATION_HEADER="Bearer 16LYhcdSWhCeglOecVKddA=="
REFERENCE_REFERENCE_CONNECTION_URI="postgres://postgres:hbGciOiJIUzI1NiIsInR5cCI6IkpX@local.hasura.dev/ref"
REFERENCE_REFERENCE_HASURA_SERVICE_TOKEN_SECRET="16LYhcdSWhCeglOecVKddA=="
REFERENCE_REFERENCE_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
REFERENCE_REFERENCE_OTEL_SERVICE_NAME="reference_reference"
REFERENCE_REFERENCE_READ_URL="http://local.hasura.dev:5655"
REFERENCE_REFERENCE_WRITE_URL="http://local.hasura.dev:5655"
