JWT_SECRET="hptj8supNeslwet7nhGGr5Uu5MombVVjDmcGMOyrWa8"
OPERATIONS_ACTIONS_AUTHORIZATION_HEADER="Bearer Qdn4TfpQaeaOKhv_0BlGZQ=="
OPERATIONS_ACTIONS_HASURA_CONNECTOR_PORT=7228
OPERATIONS_ACTIONS_HASURA_SERVICE_TOKEN_SECRET="Qdn4TfpQaeaOKhv_0BlGZQ=="
OPERATIONS_ACTIONS_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
OPERATIONS_ACTIONS_OTEL_SERVICE_NAME="operations_actions"
OPERATIONS_ACTIONS_READ_URL="http://local.hasura.dev:7228"
OPERATIONS_ACTIONS_WRITE_URL="http://local.hasura.dev:7228"
OPERATIONS_AUTH_AUTHORIZATION_HEADER="Bearer PK9kBr19lDWtt1-1PYyKww=="
OPERATIONS_AUTH_CONNECTION_URI="postgresql://postgres:hbGciOiJIUzI1NiIsInR5cCI6IkpX@local.hasura.dev:5432/auth"
OPERATIONS_AUTH_HASURA_CONNECTOR_PORT=5098
OPERATIONS_AUTH_HASURA_SERVICE_TOKEN_SECRET="PK9kBr19lDWtt1-1PYyKww=="
OPERATIONS_AUTH_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
OPERATIONS_AUTH_OTEL_SERVICE_NAME="operations_auth"
OPERATIONS_AUTH_READ_URL="http://local.hasura.dev:5098"
OPERATIONS_AUTH_WRITE_URL="http://local.hasura.dev:5098"
REVOPS_CLARI_AUTHORIZATION_HEADER="Bearer 7_gYtGjB_I8BF6Bms_PJXA=="
REVOPS_CLARI_CONNECTION_URI="postgres://postgres:hbGciOiJIUzI1NiIsInR5cCI6IkpX@local.hasura.dev:5433/clari"
REVOPS_CLARI_HASURA_CONNECTOR_PORT=7480
REVOPS_CLARI_HASURA_SERVICE_TOKEN_SECRET="7_gYtGjB_I8BF6Bms_PJXA=="
REVOPS_CLARI_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
REVOPS_CLARI_OTEL_SERVICE_NAME="revops_clari"
REVOPS_CLARI_READ_URL="http://local.hasura.dev:7480"
REVOPS_CLARI_WRITE_URL="http://local.hasura.dev:7480"
REVOPS_SALESFORCE_AUTHORIZATION_HEADER="Bearer m8nqqExzuHfJS5NDXvU7Sg=="
REVOPS_SALESFORCE_CONNECTION_URI="postgres://postgres:hbGciOiJIUzI1NiIsInR5cCI6IkpX@local.hasura.dev:5432/salesforce"
REVOPS_SALESFORCE_HASURA_CONNECTOR_PORT=7853
REVOPS_SALESFORCE_HASURA_SERVICE_TOKEN_SECRET="m8nqqExzuHfJS5NDXvU7Sg=="
REVOPS_SALESFORCE_OTEL_EXPORTER_OTLP_ENDPOINT="http://local.hasura.dev:4317"
REVOPS_SALESFORCE_OTEL_SERVICE_NAME="revops_salesforce"
REVOPS_SALESFORCE_READ_URL="http://local.hasura.dev:7853"
REVOPS_SALESFORCE_WRITE_URL="http://local.hasura.dev:7853"
