---
- name: Cron Tasks
  tags:
    - cron
  hosts: cron_servers
  become: true
  tasks:
    - name: Ensure /home/ubuntu/axiom-scripts exists
      ansible.builtin.file:
        path: /home/ubuntu/axiom-scripts
        owner: ubuntu
        group: ubuntu
        mode: "0755"
        state: directory
        recurse: true

    - name: Deploy demo monitoring script
      ansible.posix.synchronize:
        src: "{{ playbook_dir }}/../../../scripts/connector-keepalive.sh"
        dest: "/home/ubuntu/axiom-scripts/connector-keepalive.sh"
        recursive: true
        delete: true
        rsync_opts:
          - "--exclude=.*"
      delegate_to: localhost
      become: false

    - name: Verify monitoring script exists
      ansible.builtin.stat:
        path: /home/ubuntu/axiom-scripts/connector-keepalive.sh
      register: keepalive

    - name: Configure health check cron job
      ansible.builtin.cron:
        name: "Axiom connector-keepalive"
        job: >
          cron_query='{{ cron_query }}'
          cron_url='{{ cron_url }}'
          SLACK_WEBHOOK='{{ slack_webhook }}'
          /home/ubuntu/axiom-scripts/connector-keepalive.sh 2>&1 | logger -t gql-check
        day: "*"
        hour: "*"
        minute: "*"
        month: "*"
        weekday: "*"
        state: "present"
        user: "ubuntu"
      when: keepalive.stat.exists
